{% extends "_layout.html" %}

{% block title %}
{{ pagetitle or config.APP_BRAND }}
{% endblock %}

{% block body %}



<div class="account-pages"></div>
<div class="clearfix"></div>

<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <div class="text-error"><span class="text-primary">4</span><span class="text-pink">0</span><span class="text-info">0</span></div>
        <h2>Bad Request</h2><br>
        <p class="text-muted">{{ message }}</p>
        <br>
        <a class="btn btn-default waves-effect waves-light" href="/"> Return Home</a>
        
    </div>
</div>



{% endblock %}