								<li class="navigation-header"><span>私链</span> <i class="icon-menu" title="Navigation"></i></li>
                                <li><a href="/chain"><i class="icon-eye8"></i> <span>链浏览器</span></a></li>
{#                                <li><a href="/users"><i class="icon-users4"></i> <span>用户列表</span></a></li>#}
								<li>
									<a href="#"><i class="icon-link2"></i> <span>私链管理</span></a>
									<ul>
										<li><a href="/chain/detail">链列表</a></li>
										<li><a href="/chain/create">新建私链</a></li>
                                        <li><a href="">我的链</a></li>
                                    </ul>
                                </li>



								<li>
									<a href="#"><i class="icon-credit-card"></i> <span>链上应用</span></a>
									<ul>
										<li><a href="/chain/detail">应用列表</a></li>
										<li><a href="/chain/create">新建应用</a></li>
                                        <li><a href="/chain/create">Token管理</a></li>
                                        <li><a href="">我的应用</a></li>
                                    </ul>
                                </li>


                                <li class="navigation-header"><span>联盟链</span> <i class="icon-menu" title="Navigation"></i></li>
                                <li>
									<a href="#"><i class="icon-hyperlink"></i> <span>联盟链管理</span></a>
									<ul>
										<li><a href="/chain/detail">联盟链列表</a></li>
										<li><a href="/chain/create">新建联盟链</a></li>
                                    </ul>
                                </li>





								<li class="navigation-header"><span>云主机</span> <i class="icon-menu" title="Navigation"></i></li>
                                <li><a href="/chain"><i class="icon-server"></i> <span>主机列表</span></a></li>
								<li>
									<a href="#"><i class="icon-display"></i> <span>主机管理</span></a>
									<ul>
										<li>
											<a href="#">阿里云AliCloud</a>
											<ul>
												<li><a href="#">华东2</a></li>
												<li><a href="#">香港</a></li>
											</ul>
										</li>
										<li>
											<a href="#">亚马逊AWS</a>
											<ul>
												<li><a href="#">马来西亚</a></li>
												<li><a href="#">新加坡</a></li>
											</ul>
										</li>

                                    </ul>
                                </li>


                                <li class="navigation-header"><span>IPFS</span> <i class="icon-menu" title="Navigation"></i></li>
                                <li>
									<a href="#"><i class="icon-sphere3"></i> <span>星际文件系统</span></a>
                                </li>


								<li class="navigation-header"><span>用户</span> <i class="icon-menu" title="Navigation"></i></li>
                                <li><a href="/chain"><i class="icon-users"></i> <span>用户列表</span></a></li>
								<li>
									<a href="#"><i class="icon-user"></i> <span>授权管理</span></a>
									<ul>
										<li>
											<a href="#">授权机构1</a>
											<ul>
												<li><a href="#">用户1</a></li>
												<li><a href="#">用户2</a></li>
											</ul>
										</li>
										<li>
											<a href="#">授权机构2</a>
											<ul>
												<li><a href="#">用户1</a></li>
												<li><a href="#">用户2</a></li>
											</ul>
										</li>

                                    </ul>
                                </li>



