								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Navigation"></i></li>
                                <li><a href="/servers"><i class="icon-home4"></i> <span>区块链浏览器</span></a></li>
{#                                <li><a href="/users"><i class="icon-users4"></i> <span>用户列表</span></a></li>#}
								<li>
									<a href="#"><i class="icon-folder2"></i> <span>私链管理</span></a>
									<ul>
										<li><a href="/projects">链列表</a></li>
										<li><a href="/form">新建私链</a></li>
                                        <li><a href="">我的项目</a></li>
										<li>
											<a href="#">二级菜单</a>
											<ul>
												<li><a href="#">三级菜单1</a></li>
												<li><a href="#">三级菜单2</a></li>
											</ul>
										</li>
                                    </ul>
                                </li>