					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">其他<span class="caret"></span>
						</a>


						<ul class="dropdown-menu width-250">
                            <li class="dropdown-header">代码搜索</li>
							<li><a href="#" ><i class="icon-align-center-horizontal"></i>OpenGrok</a></li>

							<li class="dropdown-header">General pages</li>
							<li class="dropdown-submenu">
								<a href="#"><i class="icon-task"></i> Blog</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="blog_classic_v.html">Classic vertical</a></li>
									<li><a href="blog_classic_h.html">Classic horizontal</a></li>
									<li><a href="blog_grid.html">Grid</a></li>
									<li><a href="blog_single.html">Single post</a></li>
									<li class="divider"></li>
									<li><a href="blog_sidebar_left.html">Left sidebar</a></li>
									<li><a href="blog_sidebar_right.html">Right sidebar</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-images2"></i> Gallery</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="gallery_grid.html">Media grid</a></li>
									<li><a href="gallery_titles.html">Media with titles</a></li>
									<li><a href="gallery_description.html">Media with description</a></li>
									<li><a href="gallery_library.html">Media library</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-grid6"></i> Others</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="general_feed.html">Feed</a></li>
									<li><a href="general_widgets_content.html">Content widgets</a></li>
									<li><a href="general_widgets_stats.html">Statistics widgets</a></li>
									<li><a href="general_embeds.html">Embeds</a></li>
									<li><a href="general_faq.html">FAQ page</a></li>
									<li><a href="general_knowledgebase.html">Knowledgebase</a></li>
								</ul>
							</li>

							<li class="dropdown-header">Service pages</li>
							<li class="dropdown-submenu">
								<a href="#"><i class="icon-cash3"></i> Invoicing</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="invoice_template.html">Invoice template</a></li>
									<li><a href="invoice_grid.html">Invoice grid</a></li>
									<li><a href="invoice_archive.html">Invoice archive</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-user-plus"></i> Authentication</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Basic</li>
									<li><a href="login_simple.html">Simple login</a></li>
									<li><a href="login_advanced.html">More login info</a></li>
									<li><a href="login_registration.html">Simple registration</a></li>
									<li><a href="login_registration_advanced.html">More registration info</a></li>
									<li><a href="login_validation.html">With validation</a></li>
									<li><a href="login_tabbed.html">Tabbed form</a></li>
									<li><a href="login_modals.html">Inside modals</a></li>
									<li class="dropdown-header highlight">Service</li>
									<li><a href="login_unlock.html">Unlock user</a></li>
									<li><a href="login_password_recover.html">Reset password</a></li>
									<li class="dropdown-header highlight">Other</li>
									<li><a href="login_hide_navbar.html">Hide navbar</a></li>
									<li><a href="login_transparent.html">Transparent box</a></li>
									<li><a href="login_background.html">Background option</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-warning"></i> Error pages</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="error_403.html">Error 403</a></li>
									<li><a href="error_404.html">Error 404</a></li>
									<li><a href="error_405.html">Error 405</a></li>
									<li><a href="error_500.html">Error 500</a></li>
									<li><a href="error_503.html">Error 503</a></li>
									<li><a href="error_offline.html">Offline page</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-grid6"></i> Others</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="service_sitemap.html">Sitemap</a></li>
								</ul>
							</li>

							<li class="dropdown-header">User pages</li>
							<li class="dropdown-submenu">
								<a href="#"><i class="icon-profile"></i> Profile</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="user_pages_profile.html">Simple profile</a></li>
									<li><a href="user_pages_profile_tabbed.html">Tabbed profile</a></li>
									<li><a href="user_pages_profile_cover.html">Profile with cover</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-grid6"></i> Others</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="user_pages_cards.html">User cards</a></li>
									<li><a href="user_pages_list.html">User list</a></li>
								</ul>
							</li>

							<li class="dropdown-header">Apps</li>
							<li class="dropdown-submenu">
								<a href="#"><i class="icon-task"></i> Task manager</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="task_manager_grid.html">Task grid</a></li>
									<li><a href="task_manager_list.html">Task list</a></li>
									<li><a href="task_manager_detailed.html">Task detailed</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-search4"></i> Search</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Basic</li>
									<li><a href="search_basic.html">Basic search results</a></li>
									<li><a href="search_users.html">User search results</a></li>
									<li class="dropdown-header highlight">Media</li>
									<li><a href="search_images.html">Image search results</a></li>
									<li><a href="search_videos.html">Video search results</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-envelop2"></i> Inbox</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Mail</li>
									<li><a href="mail_list.html">Mail list</a></li>
									<li><a href="mail_read.html">Read mail</a></li>
									<li><a href="mail_write.html">Write mail</a></li>
									<li class="dropdown-header highlight">Chats</li>
									<li><a href="chat_layouts.html">Chat layouts</a></li>
									<li><a href="chat_options.html">Chat options</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-user-tie"></i> Job search</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="job_list_cards.html">Cards view</a></li>
									<li><a href="job_list_panel.html">Panel view</a></li>
									<li><a href="job_detailed.html">Job detailed</a></li>
									<li><a href="job_apply.html">Apply</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-graduation"></i> Learning</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="learning_list.html">List view</a></li>
									<li><a href="learning_grid.html">Grid view</a></li>
									<li><a href="learning_detailed.html">Detailed course</a></li>
								</ul>
							</li>

							<li class="dropdown-submenu">
								<a href="#"><i class="icon-cart2"></i> Ecommerce set</a>
								<ul class="dropdown-menu width-200">
									<li class="dropdown-header highlight">Options</li>
									<li><a href="ecommerce_product_list.html">Product list</a></li>
									<li><a href="ecommerce_product_grid.html">Product grid</a></li>
									<li><a href="ecommerce_orders_history.html">Orders history</a></li>
									<li><a href="ecommerce_customers.html">Customers</a></li>
									<li><a href="ecommerce_pricing.html">Pricing tables</a></li>
								</ul>
							</li>
						</ul>
					</li>
