
					<li class="dropdown mega-menu mega-menu-wide">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">镜像管理<span class="caret"></span></a>

						<div class="dropdown-menu dropdown-content">
							<div class="dropdown-content-body">
								<div class="row">

									<div class="col-md-3">
										<span class="menu-heading underlined disable">开发环境</span>
										<ul class="menu-list">
                                            <li><a href="" target="_blank">仓库详情</a></li>
										</ul>
									</div>


									<div class="col-md-3">
										<span class="menu-heading underlined">测试环境</span>
										<ul class="menu-list">
                                            <li><a href="" target="_blank">仓库详情</a></li>
										</ul>
									</div>

									<div class="col-md-3">
										<span class="menu-heading underlined">预发环境</span>
										<ul class="menu-list">
                                            <li><a href="" target="_blank">仓库详情</a></li>

										</ul>
									</div>

									<div class="col-md-3">
										<span class="menu-heading underlined">生产环境</span>
										<ul class="menu-list">
                                            <li><a href="">仓库详情</a></li>
										</ul>
									</div>


								</div>
							</div>
						</div>
					</li>
