					<li class="dropdown mega-menu mega-menu-wide">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">日志聚合与查询<span class="caret"></span></a>

						<div class="dropdown-menu dropdown-content">
							<div class="dropdown-content-body">
								<div class="row">
									<div class="col-md-3">
										<span class="menu-heading underlined">开发环境</span>
										<ul class="menu-list">
											<li>
												<a href="#"><i class="icon-stack2"></i> Page layouts</a>
												<ul>
													<li><a href="layout_navbar_main_fixed.html">Fixed main navbar</a></li>
													<li><a href="layout_navbar_secondary_fixed.html">Fixed secondary navbar</a></li>
													<li><a href="layout_navbar_main_hideable.html">Hideable main navbar</a></li>
													<li><a href="layout_navbar_secondary_hideable.html">Hideable secondary navbar</a></li>
													<li><a href="layout_header_fixed.html">Fixed header</a></li>
													<li><a href="layout_footer_fixed.html">Fixed footer</a></li>
													<li><a href="layout_sidebar_sticky_custom.html">Sticky sidebar (custom scroll)</a></li>
													<li><a href="layout_sidebar_sticky_native.html">Sticky sidebar (native scroll)</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-align-center-horizontal"></i> Fixed width</a>
												<ul>
													<li><a href="boxed_full.html">Boxed full width</a></li>
													<li><a href="boxed_default.html">Boxed with default sidebar</a></li>
													<li><a href="boxed_mini.html">Boxed with mini sidebar</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-copy"></i>Sit环境</a>
												<ul>
													<li><a href="../../../layout_1/LTR/default/index.html" id="layout1">Layout 1</a></li>
													<li><a href="../../../layout_2/LTR/default/index.html" id="layout2">Layout 2</a></li>
													<li><a href="../../../layout_3/LTR/default/index.html" id="layout3">Layout 3</a></li>
													<li><a href="../../../layout_4/LTR/default/index.html" id="layout4">Layout 3</a></li>
													<li><a href="index.html" id="layout5">Layout 5 <span class="label bg-warning-400">Current</span></a></li>
													<li class="disabled"><a href="../../layout_6/LTR/default/index.html" id="layout6">Layout 6 <span class="label bg-slate-300">Coming soon</span></a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-droplet2"></i> Color system</a>
												<ul>
													<li><a href="colors_primary.html">Primary palette</a></li>
													<li><a href="colors_danger.html">Danger palette</a></li>
													<li><a href="colors_success.html">Success palette</a></li>
													<li><a href="colors_warning.html">Warning palette</a></li>
													<li><a href="colors_info.html">Info palette</a></li>
													<li class="divider"></li>
													<li><a href="colors_pink.html">Pink palette</a></li>
													<li><a href="colors_violet.html">Violet palette</a></li>
													<li><a href="colors_purple.html">Purple palette</a></li>
													<li><a href="colors_indigo.html">Indigo palette</a></li>
													<li><a href="colors_blue.html">Blue palette</a></li>
													<li><a href="colors_teal.html">Teal palette</a></li>
													<li><a href="colors_green.html">Green palette</a></li>
													<li><a href="colors_orange.html">Orange palette</a></li>
													<li><a href="colors_brown.html">Brown palette</a></li>
													<li><a href="colors_grey.html">Grey palette</a></li>
													<li><a href="colors_slate.html">Slate palette</a></li>
												</ul>
											</li>
											<li><a href="../../RTL/default/index.html"><i class="icon-width"></i> RTL version</a></li>
										</ul>
									</div>
									<div class="col-md-3">
										<span class="menu-heading underlined">测试环境</span>
										<ul class="menu-list">
											<li>
												<a href="#"><i class="icon-indent-decrease2"></i> Sidebars</a>
												<ul>
													<li><a href="sidebar_default_collapse.html">Default collapsible</a></li>
													<li><a href="sidebar_default_hide.html">Default hideable</a></li>
													<li><a href="sidebar_mini_collapse.html">Mini collapsible</a></li>
													<li><a href="sidebar_mini_hide.html">Mini hideable</a></li>
													<li>
														<a href="#">Dual sidebar</a>
														<ul>
															<li><a href="sidebar_dual.html">Dual sidebar</a></li>
															<li><a href="sidebar_dual_double_collapse.html">Dual double collapse</a></li>
															<li><a href="sidebar_dual_double_hide.html">Dual double hide</a></li>
															<li><a href="sidebar_dual_swap.html">Swap sidebars</a></li>
														</ul>
													</li>
													<li>
														<a href="#">Double sidebar</a>
														<ul>
															<li><a href="sidebar_double_collapse.html">Collapse main sidebar</a></li>
															<li><a href="sidebar_double_hide.html">Hide main sidebar</a></li>
															<li><a href="sidebar_double_fix_default.html">Fix default width</a></li>
															<li><a href="sidebar_double_fix_mini.html">Fix mini width</a></li>
															<li><a href="sidebar_double_visible.html">Opposite sidebar visible</a></li>
														</ul>
													</li>
													<li><a href="sidebar_categories.html">Separate categories</a></li>
													<li><a href="sidebar_hidden.html">Hidden sidebar</a></li>
													<li><a href="sidebar_dark.html">Dark sidebar</a></li>
													<li><a href="sidebar_components.html">Sidebar components</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-sort"></i> Vertical navigation</a>
												<ul>
													<li><a href="navigation_vertical_collapsible.html">Collapsible menu</a></li>
													<li><a href="navigation_vertical_accordion.html">Accordion menu</a></li>
													<li><a href="navigation_vertical_sizing.html">Navigation sizing</a></li>
													<li><a href="navigation_vertical_bordered.html">Bordered navigation</a></li>
													<li><a href="navigation_vertical_right_icons.html">Right icons</a></li>
													<li><a href="navigation_vertical_labels_badges.html">Labels and badges</a></li>
													<li><a href="navigation_vertical_disabled.html">Disabled navigation links</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-transmission"></i> Horizontal navigation</a>
												<ul>
													<li><a href="navigation_horizontal_click.html">Submenu on click</a></li>
													<li><a href="navigation_horizontal_hover.html">Submenu on hover</a></li>
													<li><a href="navigation_horizontal_elements.html">With custom elements</a></li>
													<li><a href="navigation_horizontal_tabs.html">Tabbed navigation</a></li>
													<li><a href="navigation_horizontal_disabled.html">Disabled navigation links</a></li>
													<li><a href="navigation_horizontal_mega.html">Horizontal mega menu</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-paragraph-justify3"></i> Navbars</a>
												<ul>
													<li><a href="navbar_single.html">Single navbar</a></li>
													<li>
														<a href="#">Multiple navbars</a>
														<ul>
															<li><a href="navbar_multiple_navbar_navbar.html">Navbar + navbar</a></li>
															<li><a href="navbar_multiple_header_navbar.html">Header + navbar</a></li>
															<li><a href="navbar_multiple_navbar_content.html">Navbar + content</a></li>
															<li><a href="navbar_multiple_top_bottom.html">Top + bottom</a></li>
														</ul>
													</li>
													<li><a href="navbar_colors.html">Color options</a></li>
													<li><a href="navbar_sizes.html">Sizing options</a></li>
													<li><a href="navbar_hideable.html">Hide on scroll</a></li>
													<li><a href="navbar_components.html">Navbar components</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-tree5"></i> Menu levels</a>
												<ul>
													<li><a href="#"><i class="icon-IE"></i> Second level</a></li>
													<li>
														<a href="#"><i class="icon-firefox"></i> Second level with child</a>
														<ul>
															<li><a href="#"><i class="icon-android"></i> Third level</a></li>
															<li>
																<a href="#"><i class="icon-apple2"></i> Third level with child</a>
																<ul>
																	<li><a href="#"><i class="icon-html5"></i> Fourth level</a></li>
																	<li><a href="#"><i class="icon-css3"></i> Fourth level</a></li>
																</ul>
															</li>
															<li><a href="#"><i class="icon-windows"></i> Third level</a></li>
														</ul>
													</li>
													<li><a href="#"><i class="icon-chrome"></i> Second level</a></li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="col-md-3">
										<span class="menu-heading underlined">预发环境</span>
										<ul class="menu-list">
											<li>
												<a href="#"><i class="icon-graph"></i> Echarts library</a>
												<ul>
													<li><a href="echarts_lines_areas.html">Lines and areas</a></li>
													<li><a href="echarts_columns_waterfalls.html">Columns and waterfalls</a></li>
													<li><a href="echarts_bars_tornados.html">Bars and tornados</a></li>
													<li><a href="echarts_scatter.html">Scatter charts</a></li>
													<li><a href="echarts_pies_donuts.html">Pies and donuts</a></li>
													<li><a href="echarts_funnels_chords.html">Funnels and chords</a></li>
													<li><a href="echarts_candlesticks_others.html">Candlesticks and others</a></li>
													<li><a href="echarts_combinations.html">Chart combinations</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-statistics"></i> D3 library</a>
												<ul>
													<li><a href="d3_lines_basic.html">Simple lines</a></li>
													<li><a href="d3_lines_advanced.html">Advanced lines</a></li>
													<li><a href="d3_bars_basic.html">Simple bars</a></li>
													<li><a href="d3_bars_advanced.html">Advanced bars</a></li>
													<li><a href="d3_pies.html">Pie charts</a></li>
													<li><a href="d3_circle_diagrams.html">Circle diagrams</a></li>
													<li><a href="d3_tree.html">Tree layout</a></li>
													<li><a href="d3_other.html">Other charts</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-stats-dots"></i> Dimple library</a>
												<ul>
													<li>
														<a href="#">Line charts</a>
														<ul>
															<li><a href="dimple_lines_horizontal.html">Horizontal orientation</a></li>
															<li><a href="dimple_lines_vertical.html">Vertical orientation</a></li>
														</ul>
													</li>
													<li>
														<a href="#">Bar charts</a>
														<ul>
															<li><a href="dimple_bars_horizontal.html">Horizontal orientation</a></li>
															<li><a href="dimple_bars_vertical.html">Vertical orientation</a></li>
														</ul>
													</li>
													<li>
														<a href="#">Area charts</a>
														<ul>
															<li><a href="dimple_area_horizontal.html">Horizontal orientation</a></li>
															<li><a href="dimple_area_vertical.html">Vertical orientation</a></li>
														</ul>
													</li>
													<li>
														<a href="#">Step charts</a>
														<ul>
															<li><a href="dimple_step_horizontal.html">Horizontal orientation</a></li>
															<li><a href="dimple_step_vertical.html">Vertical orientation</a></li>
														</ul>
													</li>
													<li><a href="dimple_pies.html">Pie charts</a></li>
													<li><a href="dimple_rings.html">Ring charts</a></li>
													<li><a href="dimple_scatter.html">Scatter charts</a></li>
													<li><a href="dimple_bubble.html">Bubble charts</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-stats-bars"></i> C3 library</a>
												<ul>
													<li><a href="c3_lines_areas.html">Lines and areas</a></li>
													<li><a href="c3_bars_pies.html">Bars and pies</a></li>
													<li><a href="c3_advanced.html">Advanced examples</a></li>
													<li><a href="c3_axis.html">Chart axis</a></li>
													<li><a href="c3_grid.html">Grid options</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-google"></i> Google visualization</a>
												<ul>
													<li><a href="google_lines.html">Line charts</a></li>
													<li><a href="google_bars.html">Bar charts</a></li>
													<li><a href="google_pies.html">Pie charts</a></li>
													<li><a href="google_scatter_bubble.html">Bubble &amp; scatter charts</a></li>
													<li><a href="google_other.html">Other charts</a></li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="col-md-3">
										<span class="menu-heading underlined">生产环境</span>
										<ul class="menu-list">
											<li><a href="animations_css3.html"><i class="icon-spinner3 spinner position-left"></i> CSS3 animations</a></li>
											<li>
												<a href="#"><i class="icon-spinner10 spinner position-left"></i> Velocity animations</a>
												<ul>
													<li><a href="animations_velocity_basic.html">Basic usage</a></li>
													<li><a href="animations_velocity_ui.html">UI pack effects</a></li>
													<li><a href="animations_velocity_examples.html">Advanced examples</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-map5"></i> Maps integration</a>
												<ul>
													<li>
														<a href="#">Google maps</a>
														<ul>
															<li><a href="maps_google_basic.html">Basics</a></li>
															<li><a href="maps_google_controls.html">Controls</a></li>
															<li><a href="maps_google_markers.html">Markers</a></li>
															<li><a href="maps_google_drawings.html">Map drawings</a></li>
															<li><a href="maps_google_layers.html">Layers</a></li>
														</ul>
													</li>
													<li><a href="maps_vector.html">Vector maps</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-magazine"></i> Timelines</a>
												<ul>
													<li><a href="timelines_left.html">Left timeline</a></li>
													<li><a href="timelines_right.html">Right timeline</a></li>
													<li><a href="timelines_center.html">Centered timeline</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-thumbs-up2 position-left"></i> Icons</a>
												<ul>
													<li><a href="icons_glyphicons.html">Glyphicons</a></li>
													<li><a href="icons_icomoon.html">Icomoon</a></li>
													<li><a href="icons_fontawesome.html">Font awesome</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
