					<li class="dropdown mega-menu mega-menu-wide">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">代码构建与持续集成<span class="caret"></span></a>

						<div class="dropdown-menu dropdown-content">
							<div class="dropdown-content-body">
								<div class="row">
									<div class="col-md-3">
										<span class="menu-heading underlined">Forms</span>
										<ul class="menu-list">
											<li>
												<a href="#"><i class="icon-pencil3"></i> Form components</a>
												<ul>
													<li><a href="form_inputs_basic.html">Basic inputs</a></li>
													<li><a href="form_checkboxes_radios.html">Checkboxes &amp; radios</a></li>
													<li><a href="form_input_groups.html">Input groups</a></li>
													<li><a href="form_controls_extended.html">Extended controls</a></li>
													<li><a href="form_floating_labels.html">Floating labels</a></li>
													<li>
														<a href="#">Selects</a>
														<ul>
															<li><a href="form_select2.html">Select2 selects</a></li>
															<li><a href="form_multiselect.html">Bootstrap multiselect</a></li>
															<li><a href="form_select_box_it.html">SelectBoxIt selects</a></li>
															<li><a href="form_bootstrap_select.html">Bootstrap selects</a></li>
														</ul>
													</li>
													<li><a href="form_tag_inputs.html">Tag inputs</a></li>
													<li><a href="form_dual_listboxes.html">Dual Listboxes</a></li>
													<li><a href="form_editable.html">Editable forms</a></li>
													<li><a href="form_validation.html">Validation</a></li>
													<li><a href="form_inputs_grid.html">Inputs grid</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-file-css"></i> JSON forms</a>
												<ul>
													<li><a href="alpaca_basic.html">Basic inputs</a></li>
													<li><a href="alpaca_advanced.html">Advanced inputs</a></li>
													<li><a href="alpaca_controls.html">Controls</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-footprint"></i> Wizards</a>
												<ul>
													<li><a href="wizard_steps.html">Steps wizard</a></li>
													<li><a href="wizard_form.html">Form wizard</a></li>
													<li><a href="wizard_stepy.html">Stepy wizard</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-spell-check"></i> Editors</a>
												<ul>
													<li><a href="editor_summernote.html">Summernote editor</a></li>
													<li><a href="editor_ckeditor.html">CKEditor</a></li>
													<li><a href="editor_wysihtml5.html">WYSIHTML5 editor</a></li>
													<li><a href="editor_code.html">Code editor</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-select2"></i> Pickers</a>
												<ul>
													<li><a href="picker_date.html">Date &amp; time pickers</a></li>
													<li><a href="picker_color.html">Color pickers</a></li>
													<li><a href="picker_location.html">Location pickers</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-insert-template"></i> Form layouts</a>
												<ul>
													<li><a href="form_layout_vertical.html">Vertical form</a></li>
													<li><a href="form_layout_horizontal.html">Horizontal form</a></li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="col-md-3">
										<span class="menu-heading underlined">Appearance</span>
										<ul class="menu-list">
											<li>
												<a href="#"><i class="icon-grid"></i> Components</a>
												<ul>
													<li><a href="components_modals.html">Modals</a></li>
													<li><a href="components_dropdowns.html">Dropdown menus</a></li>
													<li><a href="components_tabs.html">Tabs component</a></li>
													<li><a href="components_pills.html">Pills component</a></li>
													<li><a href="components_navs.html">Accordion and navs</a></li>
													<li><a href="components_buttons.html">Buttons</a></li>
													<li><a href="components_notifications_pnotify.html">PNotify notifications</a></li>
													<li><a href="components_notifications_others.html">Other notifications</a></li>
													<li><a href="components_popups.html">Tooltips and popovers</a></li>
													<li><a href="components_alerts.html">Alerts</a></li>
													<li><a href="components_pagination.html">Pagination</a></li>
													<li><a href="components_labels.html">Labels and badges</a></li>
													<li><a href="components_loaders.html">Loaders and bars</a></li>
													<li><a href="components_thumbnails.html">Thumbnails</a></li>
													<li><a href="components_page_header.html">Page header</a></li>
													<li><a href="components_breadcrumbs.html">Breadcrumbs</a></li>
													<li><a href="components_media.html">Media objects</a></li>
													<li><a href="components_affix.html">Affix and Scrollspy</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-browser"></i> Content panels</a>
												<ul>
													<li><a href="panels.html">Panels</a></li>
													<li><a href="panels_heading.html">Heading elements</a></li>
													<li><a href="panels_footer.html">Footer elements</a></li>
													<li><a href="panels_draggable.html">Draggable panels</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-droplets"></i> Content styling</a>
												<ul>
													<li><a href="appearance_text_styling.html">Text styling</a></li>
													<li><a href="appearance_typography.html">Typography</a></li>
													<li><a href="appearance_helpers.html">Helper classes</a></li>
													<li><a href="appearance_syntax_highlighter.html">Syntax highlighter</a></li>
													<li><a href="appearance_content_grid.html">Grid system</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-gift"></i> Extra components</a>
												<ul>
													<li><a href="extra_sliders_noui.html">NoUI sliders</a></li>
													<li><a href="extra_sliders_ion.html">Ion range sliders</a></li>
													<li><a href="extra_trees.html">Dynamic tree views</a></li>
													<li><a href="extra_context_menu.html">Context menu</a></li>
													<li><a href="extra_fab.html">Floating action buttons</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-wrench3"></i> Tools</a>
												<ul>
													<li><a href="tools_session_timeout.html">Session timeout</a></li>
													<li><a href="tools_idle_timeout.html">Idle timeout</a></li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="col-md-3">
										<span class="menu-heading underlined">Extensions</span>
										<ul class="menu-list">
											<li>
												<a href="#"><i class="icon-puzzle4"></i> Extensions</a>
												<ul>
													<li><a href="extension_image_cropper.html">Image cropper</a></li>
													<li><a href="extension_blockui.html">Block UI</a></li>
													<li><a href="extension_dnd.html">Drag and drop</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-popout"></i> JQuery UI</a>
												<ul>
													<li><a href="jqueryui_interactions.html">Interactions</a></li>
													<li><a href="jqueryui_forms.html">Forms</a></li>
													<li><a href="jqueryui_components.html">Components</a></li>
													<li><a href="jqueryui_sliders.html">Sliders</a></li>
													<li><a href="jqueryui_navigation.html">Navigation</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-upload"></i> File uploaders</a>
												<ul>
													<li><a href="uploader_plupload.html">Plupload</a></li>
													<li><a href="uploader_bootstrap.html">Bootstrap file uploader</a></li>
													<li><a href="uploader_dropzone.html">Dropzone</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-calendar3"></i> Event calendars</a>
												<ul>
													<li><a href="fullcalendar_views.html">Basic views</a></li>
													<li><a href="fullcalendar_styling.html">Event styling</a></li>
													<li><a href="fullcalendar_formats.html">Language and time</a></li>
													<li><a href="fullcalendar_advanced.html">Advanced usage</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-sphere"></i> Internationalization</a>
												<ul>
													<li><a href="internationalization_switch_direct.html">Direct translation</a></li>
													<li><a href="internationalization_switch_query.html">Querystring parameter</a></li>
													<li><a href="internationalization_on_init.html">Set language on init</a></li>
													<li><a href="internationalization_after_init.html">Set language after init</a></li>
													<li><a href="internationalization_fallback.html">Language fallback</a></li>
													<li><a href="internationalization_callbacks.html">Callbacks</a></li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="col-md-3">
										<span class="menu-heading underlined">Tables</span>
										<ul class="menu-list">
											<li>
												<a href="#"><i class="icon-table2"></i> Basic tables</a>
												<ul>
													<li><a href="table_basic.html">Basic examples</a></li>
													<li><a href="table_sizing.html">Table sizing</a></li>
													<li><a href="table_borders.html">Table borders</a></li>
													<li><a href="table_styling.html">Table styling</a></li>
													<li><a href="table_elements.html">Table elements</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-grid7"></i> Data tables</a>
												<ul>
													<li><a href="datatable_basic.html">Basic initialization</a></li>
													<li><a href="datatable_styling.html">Basic styling</a></li>
													<li><a href="datatable_advanced.html">Advanced examples</a></li>
													<li><a href="datatable_sorting.html">Sorting options</a></li>
													<li><a href="datatable_api.html">Using API</a></li>
													<li><a href="datatable_data_sources.html">Data sources</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-alignment-unalign"></i> Data tables extensions</a>
												<ul>
													<li><a href="datatable_extension_reorder.html">Columns reorder</a></li>
													<li><a href="datatable_extension_row_reorder.html">Row reorder</a></li>
													<li><a href="datatable_extension_fixed_columns.html">Fixed columns</a></li>
													<li><a href="datatable_extension_fixed_header.html">Fixed header</a></li>
													<li><a href="datatable_extension_autofill.html">Auto fill</a></li>
													<li><a href="datatable_extension_key_table.html">Key table</a></li>
													<li><a href="datatable_extension_scroller.html">Scroller</a></li>
													<li><a href="datatable_extension_select.html">Select</a></li>
													<li>
														<a href="#">Buttons</a>
														<ul>
															<li><a href="datatable_extension_buttons_init.html">Initialization</a></li>
															<li><a href="datatable_extension_buttons_flash.html">Flash buttons</a></li>
															<li><a href="datatable_extension_buttons_print.html">Print buttons</a></li>
															<li><a href="datatable_extension_buttons_html5.html">HTML5 buttons</a></li>
														</ul>
													</li>

													<li><a href="datatable_extension_colvis.html">Columns visibility</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-file-spreadsheet"></i> Handsontable</a>
												<ul>
													<li><a href="handsontable_basic.html">Basic configuration</a></li>
													<li><a href="handsontable_advanced.html">Advanced setup</a></li>
													<li><a href="handsontable_cols.html">Column features</a></li>
													<li><a href="handsontable_cells.html">Cell features</a></li>
													<li><a href="handsontable_types.html">Basic cell types</a></li>
													<li><a href="handsontable_custom_checks.html">Custom &amp; checkboxes</a></li>
													<li><a href="handsontable_ac_password.html">Autocomplete &amp; password</a></li>
													<li><a href="handsontable_search.html">Search</a></li>
													<li><a href="handsontable_context.html">Context menu</a></li>
												</ul>
											</li>
											<li>
												<a href="#"><i class="icon-versions"></i> Responsive options</a>
												<ul>
													<li><a href="table_responsive.html">Responsive basic tables</a></li>
													<li><a href="datatable_responsive.html">Responsive data tables</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
