
					<li class="dropdown mega-menu mega-menu-wide">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">基础设施<span class="caret"></span></a>

						<div class="dropdown-menu dropdown-content">
							<div class="dropdown-content-body">
								<div class="row">

									<div class="col-md-3">
										<span class="menu-heading underlined"><i class="icon-server"></i>服务器</span>
										<ul class="menu-list">
                                            <li><a href="">阿里云</a></li>
                                            <li><a href="">腾讯云</a></li>
                                            <li><a href="">Amazon</a></li>
                                            <li><a href="">Azure</a></li>
                                            <li><a href="">UCloud</a></li>
                                            <li><a href="">QinCloud</a></li>
										</ul>
									</div>

{#                                    <div class="col-md-3">#}
{#										<span class="menu-heading underlined"><i class="icon-drive"></i>存储</span>#}
{#										<ul class="menu-list">#}
{#                                            <li><a href="">HDFS</a></li>#}
{#                                            <li><a href="">Ceph</a></li>#}
{#                                            <li><a href="">Coming ...</a></li>#}
{##}
{#										</ul>#}
{#									</div>#}

									<div class="col-md-3">
										<span class="menu-heading underlined"><i class="icon-database"></i>数据库</span>
										<ul class="menu-list">
                                            <li><a href="">RDS/MySQL</a></li>
                                            <li><a href="">MongoDB</a></li>
                                            <li><a href="">Redis</a></li>
                                            <li><a href="">HBase</a></li>
                                            <li><a href="">Coming ...</a></li>
										</ul>
									</div>

									<div class="col-md-3">
										<span class="menu-heading underlined"><i class="icon-wave"></i>中间件</span>
										<ul class="menu-list">
                                            <li><a href="">RabbitMQ</a></li>
                                            <li><a href="">Kafaka</a></li>
                                            <li><a href="">Coming ...</a></li>

										</ul>
									</div>

									<div class="col-md-3">
										<span class="menu-heading underlined"><i class="icon-equalizer"></i>负载均衡</span>
										<ul class="menu-list">
                                             <li><a href="">Coming...</a></li>
										</ul>
									</div>


								</div>
							</div>
						</div>
					</li>
